.text-field, .password-field {
    -fx-padding: 10 12;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button {
    -fx-cursor: hand;
}

.hyperlink {
    -fx-text-fill: #2196F3;
}